Tests: chibi-scheme

Tests: chibi-doc

Tests: chibi-ffi
Depends: @, build-essential

Tests: libchibi-scheme
Depends: @, build-essential

Tests: snow-chibi
Depends: @, build-essential, sqlite3, libsqlite3-dev
Restrictions: needs-root
