#!/usr/bin/make -f

EXTRA_ARGS = $(shell cat debian/extra-make-variables.mk)

%:
	dh $@

override_dh_auto_build:
# Build the static library first. It requires special compilation flags without
# -fPIC and dlopen() support.
	dh_auto_build -- libchibi-scheme.a $(EXTRA_ARGS) CLIBFLAGS= SEXP_USE_DL=0
	make clean
# After cleaning up the object files we can build everything else.
	dh_auto_build -- all $(EXTRA_ARGS)
# Additionally, build the HTML documentation for Chibi and libraries.
	make doc -j$(shell nproc || echo 1)

# Run a bit more tests than "make test" usually does to verify
# SRFI libraries and FFI things.
override_dh_auto_test:
	dh_auto_test -- test-all test-unicode $(EXTRA_ARGS)

override_dh_auto_install:
	dh_auto_install -- $(EXTRA_ARGS)
